{% comment %} This web application was designed and implemented by Rabern using the Django framework {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
  </head>

  <body>

    <header>

      <div class="header">
       <div id="topdiv" > <button class="hbut" onclick="location.href = '{% url 'home'%}'">Home</button><button class="hbut"  onclick="location.href = '{% url 'list' %}'">Collection</button><button class="hbut"  onclick="location.href = '{% url 'contact' %}'">Contact</button>  </div>
        {% comment %} <p align="right"><a class="heada" style href="{% url 'home' %}">Home</a><a class="heada"  style href="{% url 'list' %}">Collection</a><a class="heada"  style href="{% url 'contact' %}">Contact</a></p> {% endcomment %}
        <img class="headimg" src="https://pbs.twimg.com/profile_images/1372636102549471236/tb9NPbI6_400x400.jpg" alt="logo" />
        <h1>Cross-Coursier Library</h1>
        <h3>University of Edinburgh :: Philosophy Society </h3>
        <p>40 George Square, 9.10 </p>


      </div>

      <nav align="right">
        <form  method=POST action={% url 'search' %}>
          {%csrf_token%}
          <input  class="my-input" type="search" list="books" autofocus placeholder="search library" aria-label="Search" autocomplete="off" name="searched">
          <datalist id="books">
            {%for x in books%}
              <option value="{{x.title}}"></option>
            {%endfor%}
          </datalist>
          <button type="submit">Search</button>
        </form>
        </nav>
    </header>



    <main>{% block content %} {% endblock content %}</main>

    <footer>

      <div class="footy"><p>Email: library.euphilsoc@gmail.com</p></div>
      <div class="footy"><p>Rabern</p></div></footer>
  </body>
</html>
